{% extends 'AppMaterias/padre.html' %}

{% block head %}
    <title>Campus virtual facultativo</title>
{% endblock head %}

{% block body %}
    <h1>Acerca de Fede y Guada</h1>

    <center><img src="https://static.vecteezy.com/system/resources/previews/002/713/936/non_2x/a-man-and-a-woman-are-sitting-at-a-table-and-having-a-meeting-hand-drawn-style-design-illustrations-vector.jpg" width="500" wide="500"></center>

{% endblock body %}


{% block reseñas %}
<p>Fede estudia Actuario en Economía y Guada Actuario en Administración.</p>
<p>Quisimos estudiar Python para complementar nuestras carreras y nuestros trabajos.</p>
{% endblock %}