{% extends 'AppMaterias/padre.html' %}

{% block head %}
    <title>Resultados búsqueda</title>
{% endblock head %}

{% block body %}
    <h1>Has buscado las reseñas de: {{busqueda}}</h1>

{% endblock body %}

{% block reseñas %}

{% if resultados %}

{% for r in resultados %}

    <p>Reseña hecha por :{{r.usuario}}</p>
    <p>De la materia: {{r.materia}}, catedra {{r.catedra}} y profesor {{r.profesor}} cursada en el año {{r.año}}</p>
    <p>Puntaje: {{r.puntaje}}</p>
    <p>Reseña: {{r.reseña}}</p>

    <p>********************************************************</p>

{% endfor %}

{% else %}

<p>No hay reseñas de esa materia.</p>

{% endif %}


{% endblock %}